fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
python-dotenv
firebase-admin
google-generativeai
langchain
langchain-community
langchain-google-genai
langchain-openai
langgraph
pydantic
pydantic-settings
requests
pyotp
PyJWT
bcrypt
passlib
email-validator
pandas
openpyxl