fastapi
uvicorn
python-multipart
# Database
SQLAlchemy
psycopg2-binary
alembic
# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pyotp
# Pydantic
pydantic
pydantic-settings
email-validator
# Firebase
firebase-admin
# --- FIX LỖI LANGCHAIN Ở ĐÂY ---
# Ép dùng bản 0.1 để tương thích với AgentExecutor cũ
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-google-genai==1.0.6
google-generativeai
# Utils
python-dotenv
pandas
openpyxl
requests